<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading contact-detail-heading">
                <h3></h3>
                <img src="" alt="" class="img-responsive" style="max-height: 75px;">
                <div class="pull-right">
                    <a class="btn btn-primary" type="button">Edit</a>
                    <a class="btn btn-danger" type="button">Delete</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <p><b>Email:</b></p>
                    <p><b>Phone:</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

